#top-bar {
    background-color: blue;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 30px 40px;
    
}

#top-bar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 10px;
}

#top-bar a:visited {
    color: white;
}